{% extends "base_admin.html"%}
{% block mainadmin %}
<div class="card w-75 mb-3">
  <div class="card-body">
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    {% endfor %}

    <h1 class="card-title mb-1 text-gray-800">Criação de Usuário</h1>
    <div class="row">
        <div class="p-5">
            <form   method="POST">
            {% csrf_token %}                  
                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag}}
                    {{ field }}
                    {% for error in field.errors %}
                    <div class="alert alert-secondary" role="alert">{{error}}</div>
                    {% endfor %}  
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary"> <i class="fas fa-save"></i> Salvar</button>
            </form>  
        </div>
    </div>            
</div>
{% endblock mainadmin %}