{% extends "base_admin.html"%}
{% block mainadmin %}
<div class="card w-75 mb-3">
  <div class="card-body">
   
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    {% endfor %}

    <h1 class="card-title mb-1 text-gray-800">Criação de Usuário</h1>
    <div class="row">
        <div class="panel panel-default border p-3   mt-3 mb-3 col-lg-9 col-sm-9 float-left">
            <form class="mt-3 mb-3" method="POST">
            {% csrf_token %}                  
                {% for field in form %}
                <div class="form-group col-lg-5 col-sm-3">
                    {{ field.label_tag}}
                    {{ field }}
                    {% for error in field.errors %}
                    <div class="alert alert-danger" role="alert">{{error}}</div>
                    {% endfor %}  
                </div>
                {% endfor %}
                <div class="form-group col-lg-5 col-sm-3">
                    <a href="{% url 'contas:listagem_usuarios' %}" class="btn btn-danger float-left" role="button"><i class="fas fa-ban"></i> Cancelar</a>
                    <button type="submit" class="btn btn-primary float-right"> <i class="fas fa-save"></i> Salvar</button>
                </div>
            </form>  
        </div>
    </div>            
</div>
{% endblock mainadmin %}