{% extends 'base.html'%}
{% block content %}
  <section class="page-section portfolio" id="portfolio">
    <div class="container">
    <!-- Icon Divider -->
      <div class="divider-custom">
        
      </div>

      <!-- Portfolio Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Telas do Aplicativo</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Portfolio Grid Items -->
      <div class="row">

        <!-- Portfolio Item 1 -->
        
{% for tela in telas %}
<div class="col-md-5 col-lg-3">
  <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#{{tela.nome_truncado}}Modal">
    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
      <div class="portfolio-item-caption-content text-center text-white">
        <i class="fas fa-plus fa-3x"></i>
      </div>
    </div>
    <img class="img-fluid rounded mx-auto d-block" src="{{tela.tela.url}}" alt="{{tela}}">
  </div>
</div>

{% empty %}
<h1>Não há telas do sistema cadastradas. Favor reportar ao administrador.</h1>
{% endfor %}
</div>
</div>
</section>

<!-- Telas Modals -->

  <!-- Tela Modal 1 -->
  {% for tela in telas %}
  <div class="portfolio-modal modal fade" id="{{tela.nome_truncado}}Modal" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{tela}}</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div> 
                
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5 center-block" src="{{tela.tela.url}}" alt="">
                <!-- Portfolio Modal - Text -->
                {{tela.descricao|linebreaks}}
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Fechar Janela
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}